@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 0%, 1;

    --card: 0, 0%, 100%;
    --card-foreground: 0, 0%, 0%, 1;

    --popover: 0, 0%, 100%;
    --popover-foreground: 0, 0%, 0%, 1;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: #420fb0;
    --secondary-foreground: #ffffff;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 46, 94%, 50%, 1;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  p {
    @apply text-sm sm:text-base font-manrope  font-normal;
  }
  h2 {
    @apply font-clash_display text-2xl sm:text-5xl lg:text-6xl font-bold 2xl:text-heading-1 uppercase;
  }
  h3 {
    @apply font-clash_display text-xl sm:text-2xl lg:text-3xl font-bold 2xl:text-heading-2 uppercase;
  }
  h4 {
    @apply font-clash_display text-lg sm:text-xl lg:text-2xl font-bold  uppercase;
  }
}

@layer components {
  .heading-1 {
    @apply font-clash_display text-2xl sm:text-5xl lg:text-6xl font-bold 2xl:text-heading-1 uppercase;
  }
  .heading-2 {
    @apply font-clash_display text-xl sm:text-2xl lg:text-3xl font-bold 2xl:text-heading-2 uppercase;
  }
}

/* LogoSlider.css */
.logo-slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.logo-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.logo-container img {
  width: 100%;
  height: auto;
}
